<!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="style.css">
      <meta charset="UTF-8">
      <title>Document</title>
    </head>
    <body>
    <div class="container text-center">