<% include partials/header.ejs %>

  <body>
  	<h1>The page you're looking for doesn't exist. Go back to the <a href='/'>Index page</a> and try again </h1>
  </body>

<% include partials/footer.ejs %>