<!DOCTYPE html>
  <html>
    <head>
      <title>Home Page</title>
    </head>
    <body>

      <% if(!isAuthenticated) { %>
      <h1>Sorry, you must be <a href="/login"> logged in</a> to view this page</h1>
      <%  } else { %>
      <h1>Enter A Blog</h1>
      <form action="/submit" id="classifyText">

        <p>
          <label for="url">http://</label>
          <input type="text area" name="inputURL" id="input">
          <input type="submit" value="Typealyze!" class="btn btn-primary">
        </p>

      </form>
      <% } %>
    </body>
  </html>