<!DOCTYPE html>
  <html>
    <head>
      <title>Home Page</title>
    </head>
    <body>
      <h1>Enter Some Text Here</h1>
      <form action="/submit" id="classifyText">
      
        <p>
          <label for="sample text">Enter Your Sample Text Here:</label>
          <input type="text area" name="inputText" id="input">
          <input type="submit" value="Typolyze!" class="btn btn-primary">
        </p>

        
          
        

      </form>
    </body>
  </html>