<script type="text/javascript">
 function tellme(){ 
  var regex = /[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/;

  var text = document.getElementById("input").value;

 if(regex.exec(text) === null) {
  alert("invalid URL");
  return false;
 } 
 else {
  return true;
 }
  }
</script>

<% include partials/header.ejs %>
  

      <form action="/submit" id="classifyText" onsubmit= "return tellme()">

        <p>
          <label for="url">http://</label>
          <input type="text area" name="inputURL" id="input" required>
          <input type="submit" value="Typealyze!" class="btn btn-primary">
        </p>

      </form>
      
      <p>Log Out <a href="/logout">Here</a></p>

<% include partials/header.ejs %>