<!DOCTYPE html>
  <html>
    <head>
      <title>Home Page</title>
    </head>
    <body>

      
      
    
      <form action="/submit" id="classifyText">

        <p>
          <label for="url">http://</label>
          <input type="text area" name="inputURL" id="input">
          <input type="submit" value="Typealyze!" class="btn btn-primary">
        </p>

      </form>
      
    </body>
  </html>