<% include partials/header.ejs %>

    <body>
      <h1>Want to know about your favorite author? Login and enter a url to get started!</h1>

      <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
      <a href="/login" class="btn btn-primary btn-lg">Login</a>

    </body>
  </html>

<% include partials/header.ejs %>