<% include partials/header.ejs %>

    <body>
      <h1>Welcome to the index page</h1>

      <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
      <a href="/login" class="btn btn-primary btn-lg">Login</a>

    </body>
  </html>

<% include partials/header.ejs %>