<!DOCTYPE html>
  <html>
    <head>
      <title>Log In</title>
    </head>
    <body>
      <form action="/login" method="post">

      <p>
       <label for="user">Username</label>
       <input type="text" name="username" id="user" autofocus>
      </p>

      <p>
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass">
      </p>

      <p>
        <input type="submit" value="Log In" class="btn btn-primary">
      </p>

      </form>
      <a href="/signup">Need an account? Sign up here!</a>
    </body>
  </html>