<!DOCTYPE html>
  <html>
    <head>
      <title>Results</title>
    </head>
    <body>
    	<%= attitudeData.cls1.Introversion %>
      <%= perceivingData.cls1.Sensing %>
      <%= judgingData.cls1.Thinking %>
      <%= lifestyleData.cls1.Perceiving %>
    </body>
  </html>