
    <body>

      <% if(!isAuthenticated) { %>
        <h1>Sorry, you must be <a href="/login"> logged in</a> to view this page</h1>
      <% } else { %>

        
          <p> 
            The author is most likely an <%= classification %> 
          </p>
        

        <% if (classification === "INFJ") {%>
         <p> "INFJs are “old souls.” Many grow up feeling wiser than would be predicted by their chronological age. Even as children and adolescents, INFJs can be found advising and counseling their friends and siblings, and perhaps even adult family members. They tend to feel happiest and most fulfilled when helping and enlightening others through their insights.Because of their strength of intuition (and commensurate detachment from physical reality), many INFJs report feeling like aliens in the world. INFJs see two people in everyone. They see the public persona, the outer shell, which everyone else sees. But more important, their Ni provides a deeper sense or impression of people, penetrating appearances and revealing hidden motives and intentions. Consequently, INFJs often feel they can see people more clearly than those people can see themselves." <br>

           <br>"Famous INFJs: Plato, Carl Jung, Niels Bohr, Mahatma Gandhi, Mary Wollstonecraft, Simone de Beauvoir, Agatha Christie,and Marilyn Manson." </p>
        
        <% } else if (classification === "INTJ") {%>
         
         <p> "INTJs’ signature strength is deep perception. As Ni dominants, INTJs are naturally attuned to “the big picture.” They can’t help but see how everything is interconnected. They are born theorists, concerned with explicating the underlying connections and cause-effect relationships of the physical world. This is why the world’s greatest mathematicians and physicists are often INTJs. And while not the most dynamic or energetic of orators, INTJs enjoy wit and relaying stories or illustrations from pop culture. This can help to “humanize” them in the eyes of their listeners, even if their delivery remains a bit dry and monotonal."<br>

           <br>"Famous INTJs: Isaac Newton, Karl Marx, Ayn Rand, Friedrich Nietzsche, Mark Zuckerbert, Bobby Fischer, Stephen Hawking, and Nikola Tesla." </p>
        
        <% } else if (classification === "INFP") {%>
         
         <p> "INFPs can commonly be found helping individuals that are sick, disabled, disenfranchised, or otherwise in need. They love rescuing or helping the helpless, such as adopting abandoned pets from the animal shelter. They take up “niche” causes that have affected them personally, such as rallying for research for a rare disease.INFPs want to feel inspired. They need their Fi to be stimulated and impassioned. They may therefore seek out, even if unconsciously, experiences that arouse or intensify feelings of passion, inspiration, or meaning. They may turn to relationships, novels, poetry, music, travel, or charity work to achieve their desired level of intensity."<br> 

           <br>"Famous INFPs: Jean-Jacques Rousseau, Soeren Kierkegaard, Albert Camus, George Orwell, J.R.R. Tolkien, C.S. Lewis, Virginia Woolf, and John Kerry." </p>
        
        <% } else if (classification === "INTP") {%>
         
         <p> "The INTP personality type makes up about 3-4% of the general population. INTPs’ dominant function is Introverted Thinking (Ti), which can be associated with independence and intensity of thought. Although INTPs may not discover their intellectual side (i.e., their N) as early as INTJs do, once their auxiliary Ne is fully awakened, they take intellectual matters very seriously. They work to discern unifying themes and metaphysical truths that explain the underlying nature of things. Especially early in their intellectual journey, they feel they must develop a sufficient understanding of the whole before they can competently assess any of its constituent parts. Toward this end, INTPs may devour stacks of books on subjects like philosophy, religion, psychology, and evolutionary theory."<br>

           <br>"Famous INTPs: Abraham Lincoln, Albert Einstein, Charles Darwin, Immanuel Kant, Hannah Arendt, Marie Curie, Richard Dawkins, John Locke, Bill Gates, and Jane Austen." </p>
        
        <% } else if (classification === "ENFJ") {%>
         
         <p> "ENFJs are warm, engaging, charismatic, persuasive, and talkative. These personality traits contribute to their status as kings and queens of the social realm. ENFJs can quickly read and establish rapport with others. Because of their love for people and formidable social intelligence, ENFJs develop extensive networks of friends, acquaintances, and social connections; they are networkers par excellence. ENFJs excel when it comes to reading people, quickly assessing and mirroring their emotions, expressions, and body language. This grants ENFJs great insight into people, contributing to their effectiveness in education, counseling, sales, and public relations."<br>

           <br>"Famous ENFJs: Martin Luther King Jr., John Paul II, Nelson Mandela, Sheryl Sandberg, Oprah Winfrey, Reese Witherspoon, Kate Winslet, and Bono. " </p>
        
        <% } else if (classification === "ENTJ") {%>
         
         <p> "Those of the ENTJ personality type are born leaders. They are direct, assertive, and uninhibited. They can become frustrated and impatient when things don’t unfold according to their expected plan or time frame, evoking notions of the “Type-A” personality. In the presence of ENTJs, others may feel they are somehow being hurried or rushed, that the ENTJ wants them to “cut to the chase.” ENTJs are firm, direct, and outwardly opinionated. At times, they may be seen as harsh, blunt, or insensitive."<br>

           <br>"Famous ENTJs: Napoleon Bonaparte, Julius Caesar, Margaret Thatcher, Aristotle, Bill Gates, Nancy Pelosi, Adele, and Katharine Hepburn."</p>
        
        <% } else if (classification === "ENFP") {%>
         
         <p> "ENFPs are enthusiastic, idealistic, restless, and open-minded, with wide-ranging interests. Because of these personality traits, they are among the most versatile of all types, working well with both people and ideas. As Extraverts they are not opposed to action, while as Intuitives, they are not opposed to reflection. In this sense, ENFPs represent a sort of hybrid between Introverts and Extraverts. ENFPs are novelty-seekers. They are constantly scanning for new and interesting people, ideas, and possibilities. Like INFPs, they enjoy abstract as well as more experiential forms of learning."<br>

           <br>"Famous ENFPs: Mark Twain, Oscar Wilde, Aldous Huxley, Julian Assange, Anne Frank, Arianna Huffington, Ellen DeGeneres, and Katie Couric." </p>
        
        <% } else if (classification === "ENTP") {%>
         
         <p> "ENTPs’ minds move at a frenetic pace, contributing to restlessness, anxiousness, and erratic sleeping patterns. Not only are they constantly scanning for new possibilities, but also generating new ideas and associations. Moreover, ENTPs enjoy sharing and exchanging their ideas with others. Considering how their minds are drawn in so many different directions, it is no wonder that ENTPs can seem restless, scattered, distractible, and, rightly or not, are commonly diagnosed with ADD or ADHD."<br>

           <br>"Famous ENTPs: Socrates, Leonardo da Vinci, Benjamin Franklin, Richard Feynman, Catherine the Great, Megan Mullally, Salma Hayek, and Rose McGowan." </p>
        
        <% } else if (classification === "ISFJ") {%>
         
         <p> "While sometimes viewed as stubborn or nitpicky, ISFJs are actually more easygoing than they are often given credit for. Since their dominant function (Si) is a Perceiving function, they are naturally inclined to assume a receptive rather than a controlling role. Unfortunately, this often goes unnoticed by the casual onlooker, since Si introverted in direction. Especially in their free time, ISFJs know how to be leisurely, something ESFJs can have a harder time with." <br>

           <br>"Famous ISFJs: Robert E. Lee, George A. Custer, Jimmy Carter, George H.W. Bush, Rosa Parks, Mother Teresa, Halle Berry, and Kirsten Dunst." </p>
        
        <% } else if (classification === "ISTJ") {%>
         
         <p> "ISTJs are among the most loyal, dutiful, and responsible of the types. They make loyal friends and companions and are admired for their devotion, steadfastness, and perseverance. If ESPs are the hares of the sixteen types, ISTJs are the tortoises. They work slowly and steadily until the job is done, fastidiously attending to all the details along the way. ISTJs can grow attached to the routine and familiar. The more often they do something in a particular way, the harder it is for them to break out of that pattern. This not only applies to their behavioral habits, but also to their beliefs and worldview, as many ISTJs continue in the same belief system in which they were raised."<br> 

           <br>"Famous ISTJs: George Washington, Dwight D. Eisenhower, Warren Buffett, Jeff Bezos, Elizabeth II, Natalie Portman, Danica McKellar, and Jamie Hyneman." </p>
        
        <% } else if (classification === "ISFP") {%>
         
         <p> "ISFPs are lovers, nurturers, and caregivers. They experience great joy from spending time and making memories with their friends and loved ones. They have a particular fondness for children and animals, as their dominant function, Introverted Feeling (Fi), is drawn to those incapable of helping themselves. ISFPs form deep emotional attachments to their loved ones, contributing to a strong sense of loyalty and devotion. ISFPs are generally less focused on the well-being of the masses than they are with applying their Fi in more local and concrete ways."<br>

           <br>"Famous ISFPs: Jacqueline Kennedy Onassis, Ulysses S. Grant, Thich Nhat Hanh, Nero, Jonathan Ive, Joern Utzon, David Bechham, and Brad Pitt." </p>
        
        <% } else if (classification === "ISTP") {%>
         
         <p> "ISTPs dominant function is Introverted Thinking (Ti), which can be associated with high levels of focus, self-discipline, intentionality, independence, and intensity of thought. ISTPs take life rather seriously and use their inner logic to discern the best ways of navigating it. They may, for instance, use Ti to work out their own personal methods for maximizing performance in a particular sport. They love using their Ti to solve practical problems or to optimize functioning. Because of their independence, self-directedness, and competitiveness, ISTPs may excel at nearly anything they set their mind to."<br>

           <br>"Famous ISTPs: Steve Jobs, Jack Dorsey, Miyamoto Musashi, Erwin Rommel, Dalai Lama XIV, Ron Paul, Donald Rumsfeld, and Vladimir Putin." </p>
        
        <% } else if (classification === "ESFJ") {%>
         
         <p> "ESFJs are warm, engaging, caring, loyal, dutiful, and hardworking. They are admired for their work ethic, perseverance, devotion, and steadfastness. They strive to practice what they preach, holding fast to their commitments and convictions. As predominant Judgers, they take their work, family, and social roles rather seriously. ESFJs have strong interpersonal skills, capable of quickly establishing rapport with others. They are natural readers of people and their emotions, a trait which allows them to quickly relate to people. Because of their social intelligence and love for people, they often have a substantial network of friends, acquaintances, and social connections. Their people skills also contribute to their persuasiveness and prowess as salespersons."<br>

           <br>"Famous ESFJs: Harry S. Truman, Gerald Ford, Colin Powell, Sam Walton, Sarah Palin, Barbara Walters, Alyson Hannigan, and Anne Hathaway. " </p>
        
        <% } else if (classification === "ESFP") {%>
         
         <p> "ESFPs are often considered physically attractive. Of course, this might be partly attributable to their extraverted personality, as well as their concern for keeping up their appearance. They are attuned to what is trendy and popular, willing to modify their appearance accordingly. Glitz, glamor, perfume, jewelry—all are a part of the ESFPs’ repertoire. It’s not that ESFPs are necessarily snobbish or narcissistic about their appearance. Rather, because of their dominant function, Extraverted Sensing (Se), they seem to have a natural eye for beauty, style, and aesthetics. Their homes are often immaculate and tastefully adorned, as ESFPs love to ensconce themselves in beautiful and well-accoutered surroundings."<br>

           <br>"Famous ESFPs: Bill Clinton, John F. Kennedy, Ronald Reagan, Peter the Great, Beyonce, Nicki Minaj, Pink, and Katy Perry."</p>
        
        <% } else if (classification === "ESTJ") {%>
         
         <p> "ESTJs are dutiful, hardworking, and task-oriented. Often possessing “Type-A” tendencies, they can become impatient and frustrated when things fail to unfold according to their expected plan or time frame. In the presence of ESTJs, one can sometimes feel like he is being hurried or rushed, that the ESTJ wants him to “cut to the chase.” Among the most “left-brained” of all the types, ESTJs typically present as relatively serious folks. ESTJs’ Si may offer little in terms of lightness or humor. Those with a more salient sense of humor generally turn to their tertiary function, Extraverted Intuition (Ne), for witty or clever remarks."<br>

           <br>"Famous ESTJs: Henry Ford, Hillary Clinton, Condoleezza Rice, Dr. Phil, Martha Stewart, Michelle Obama, Ann Coulter, and Jerry Falwell."</p>
        
        <% } else if (classification === "ESTP") {%>
         <p> "ESTPs’ personality traits include being fun, active, and charming. Because ESTPs’ Thinking function is introverted in its direction (Ti), it often goes unnoticed by outsiders. What others tend to see is ESTPs engaging in action (Se) or with people (Fe). Their tertiary function, Extraverted Feeling (Fe), contributes ample affability and personableness to their outward presentation. ESTPs typically display conventional, even stylish, forms of dress. While their Ti is concerned with functionality and practicality, their Extraverted Sensing (Se) and Fe functions are attuned to the trendy and popular; social status is often a high priority for ESTPs."<br>

           <br>"Famous ESTPs: Alexander the Great, Winston Churchill, Theodore Roosevelt, Donald Trump, Marquis de Sade, Meryl Streep, Madonna, and Angelina Jolie. " </p>
        
        <% } %> 

    	<% } %>
    
      <p>Logout <a href="/logout">Here</a></p>

    </body>
  </html>









