<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>

  <h1> Sign Up Form</h1>
  
  <form action="/signup" method="post">

      <p>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" autofocus required>
      </p>

      <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
      </p>

      <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </p>

      <p>
        <input type="submit" value="Sign me up!" class = "btn btn-primary">
      </p>

      <a href="/login">Already have an account? Log in!</a>
      
    </form>
 
  </body>
</html>